name: build-singularity-container
on:
  # Do something on push
  push:
    # Ediot the branches here
    branches:
      - main
      - master
jobs:
  test-build:
    name: "Test build recipe"
    runs-on: ubuntu-latest
    strategy:
      # Keep going on other deployments if anything bloops
      fail-fast: false
      matrix:
        singularity_version:
          - '3.8.1'
          - '3.8.2'
          - '3.8.3'
          - '3.8.4'
          - '3.9.4'
    container:
      image: quay.io/singularity/singularity:v${{ matrix.singularity_version }}
      options: --privileged
     
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: build pycharm
        run: sudo singularity build pycharm.sif Singularity
