name: build-singularity-container
on:
  # Do something on push
  push:
    # Ediot the branches here
    branches:
      - main
      - master
jobs:
  changes:
    name: "Test build recipes"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: install singularity dependencies
        run: sudo apt install -y build-essential libseccomp-dev  pkg-config squashfs-tools cryptsetup curl wget git
      - name: install singularity
        run: sudo dpkg -i https://github.com/sylabs/singularity/releases/download/v3.9.4/singularity-ce_3.9.4-focal_amd64.deb
      - name: build pycharm
        run: sudo singularity build pycharm.sif Singularity
